<div class="main-container">

    <main-menu></main-menu>
    <div class="parallax-container">
        <div class="animate slideInDown">
            <img src="assets/images/AroundTheWorld.png">       
            <br>
            <i *ngIf="iconHide" class="fas fa-chevron-down align-container" (click)="scroll(target)"></i>
        </div>
       
    </div>
   
 
    <div  #target class="content-container">
        <div class="content">
            <h1 class="text-center single-title-text">UNIQUE EXPERIENCES
            </h1>
        </div>

    </div>
    <div class="parallax-container2"></div>
    <div  class="content-container">
            <div class="content">
                <h1 class="text-center single-title-text">Start planning you next adventure
                </h1>
            </div>
    
        </div>
    <div class="parallax-container2"></div>
    <div class="content-container2">
        <div class="content-two">
            <div class="text-center">
                <h1 class="title-text">
                    Be curious   Be bold
                </h1>
                <br>
                <h4>Looking for that awesome next adventure? Or are you just a rookie in this big 
                    beautiful world and you need advice on what should be your first, second and third step.
                     Travel can seem like a daunting subject with so much information available and, the longer 
                     you go away, the more things you seem to have to think about.                
                </h4>
            </div>
            </div>
      
    </div>


</div>