@import '~scss/profile';

@import '~scss/search';

.card-title:hover{
    cursor: pointer;
}

.card-img-top:hover{
    cursor: pointer;
}

.delete-user{
    color: red!important;
    border: solid 1px white;
    margin-bottom: 3px;
  }
  .delete-user:hover{
    cursor: pointer;
  }