@import '~scss/menu';

.menuItems{
    font-size: 14px;
    padding: 10px;
}

.wrapper-drop{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.style-bell{
    color: white!important;
    font-size: 14px!important;
  
}

.clicked-notif{
    background-color: white;
}