<body class="main-menu-design">
  <div class="row">

    <div class="col-sm-4">
     
        <div class="logo-container">
          <div class="logo">
            <a routerLink="../home">
              <img src="assets/images/Circle.png" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        
      </div>
        
        <div class="col-sm-4 d-flex align-items-center justify-content-end">
          <div class="buttons ">
            <a class="btn sing-button " routerLink="/home/user-profile"  routerLinkActive="active-page" >
              PROFILE
            </a>

            <a class="btn sing-button" (click)="signOut()" *ngIf="authState.email">
              LOG OUT
            </a>
          </div>

        </div>

    </div>
</body>