<body class="main-menu-design">
  <div class="row">

    <div class="col-sm-8">
     
        <div class="logo-container">
          <div class="logo">
            <a routerLink="/">
              <img src="assets/images/logo-horizontal.png" />
            </a>
          </div>
        </div>
      </div>
        <div class="col-sm-4 d-flex align-items-center justify-content-end">
          <div class="buttons ">
            <a class="btn sing-button " routerLink="/sign-up">
              SIGN UP
            </a>

            <a class="btn sing-button" routerLink="/sign-in">
              SIGN IN
            </a>
          </div>

        </div>

    </div>
</body>