@import '~scss/search';
@import '~scss/profile';
@import '~scss/colors';


.card-title:hover{
    cursor: pointer;
}

.card-img-top:hover{
    cursor: pointer;
}

.number-trav{
    font-weight: bold;
    font-size: 14px;
}


.little-color{
    color: $main-yellow-color;
}