<div class="name-wrapper d-flex justify-content-center">
    <div class="">
        <h3> {{userObject.firstName}} {{userObject.lastName}}</h3>
    </div>
</div>

<div class="wrapper">
    <div class="profile-container row d-flex justify-content-center">
        <div class="thumbnail-me  d-flex justify-content-center ">
            <img [src]="this.url" class=" profile profile-avatar">
        </div>
        <div *ngIf="userObject.bio; else messageInfo" class="info col-sm-6 ">
            <div class="d-flex justify-content-end">
                <b>Something about me</b>
            </div>
            <div class="text-description">
                <div>{{userObject.bio}}</div>

                <div *ngIf="userObject.homeBase" class="">My Home Base: {{userObject.homeBase}} </div>
            </div>
        </div>
        <ng-template #messageInfo>
            <div class="info col-sm-6 ">
                <div class="text-description">
                    Tell us something about you.
                    <div *ngIf="userObject.homeBase" class="">My Home Base: {{userObject.homeBase}} </div>
                </div>
            </div>

        </ng-template>
        <a class="edit-profile-button d-flex justify-content-end align-items-end" routerLink="/home/edit-profile" title="Edit Profile">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </div>

</div>

<div class="wrapper">
    <div class="profile-container ">
        <a class="btn yellow-button d-flex justify-content-center" (click)="openPostModalWithComponent()">
            MAKE A POST
        </a>
        <div *ngIf="!allMyPosts" class="d-flex justify-content-center"> Here will be my posts!</div>
    </div>

    <br>
    <div>
        <div *ngFor="let post of allMyPosts" class="post-container" >
            <h3>{{post.postName}}</h3>
        </div>
    </div>

</div>