<div class="name-wrapper d-flex justify-content-center">
    <div class="">
        <h3> {{userObject.firstName}} {{userObject.lastName}}</h3>
    </div>
</div>

<div class="wrapper-profile">
    <div class="profile-container row d-flex justify-content-center">
        <div class="thumbnail-me  d-flex justify-content-center ">
            <img [src]="this.url" class=" profile profile-avatar">
        </div>
        <div *ngIf="userObject.bio; else messageInfo" class="info col-sm-6 ">
            <div class="d-flex justify-content-end">
                <b>Something about me</b>
            </div>
            <div class="text-description">
                <div>{{userObject.bio}}</div>

                <div *ngIf="userObject.homeBase" class="">My Home Base: {{userObject.homeBase}} </div>
            </div>
        </div>
        <ng-template #messageInfo>
            <div class="info col-sm-6 ">
                <div class="text-description">
                    Tell us something about you.
                    <div *ngIf="userObject.homeBase" class="">My Home Base: {{userObject.homeBase}} </div>
                </div>
            </div>

        </ng-template>
        <a class="edit-profile-button d-flex justify-content-end align-items-end" routerLink="/home/edit-profile" title="Edit Profile">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </div>

</div>

<div class="wrapper-post">
    <div class="profile-container ">

        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                Countries
            </div>
            <div class="col-sm d-flex justify-content-center">
                Trips
            </div>
            <div class="col-sm d-flex justify-content-center">
                Following
            </div>
            <div class="col-sm d-flex justify-content-center">
                Followers
            </div>

        </div>

        <div class="row">
            <div class="col-sm d-flex justify-content-center">
               {{nonDublicateCountries.length}}
            </div>
            <div class="col-sm d-flex justify-content-center">
                {{userObject.nrTrips}}
            </div>
            <div class="col-sm d-flex justify-content-center">
                {{userObject.following.length}}
            </div>
            <div class="col-sm d-flex justify-content-center">
                {{userObject.followers.length}}
            </div>

        </div>
    </div>
    <br>

    <div class="profile-container ">
        <a class="btn yellow-button d-flex justify-content-center" (click)="openPostModalWithComponent()">
            MAKE A POST
        </a>
        <div *ngIf="!weHavePosts" class="d-flex justify-content-center"> Here will be my posts!</div>
    </div>

    <br>
    <div>
        <div *ngFor="let post of allMyPosts" class="post-container">
            <div>
                <div class="d-flex justify-content-end">
                    <a class="p-2 edit-post" title="Edit Post" (click)="openEditModal(post.id)">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a class="p-2 delete-post" title="Delete Post" (click)="openModal(template, post.id, post.aboutLocation.countryShort)">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </div>
               
                <h3>{{post.postName}}</h3>
                <h5>{{post.tripName}}</h5>
                <div>{{ post.creationDate | date }} </div>
                <div>{{post.aboutLocation.countryLong}}</div>
                <div>{{post.postDetails}}</div>
                <!-- <carousel interval= "false">
                <slide *ngFor = "let photo of post.photos">
                  <img [src]="photo" alt="slide" style="display: block; width: 100%;">
                 </slide>
                 </carousel> -->
                <div *ngFor="let photo of post.photos" class="post-photo-display ">
                    <img [src]="photo" alt="slide" class="style-photo">
                </div>
                <!-- 
                <ks-modal-gallery [id]="5" [modalImages]="post.photos"
                ></ks-modal-gallery> -->
                <h1>{{post.likedByUsers.length}} like</h1> 
            </div>
           
            <div>
                <div class="comment d-flex justify-content-end">
                    COMMENTS
                </div>
                <div class="comm">
                <div *ngFor="let comment of allComments" >
                    <div *ngIf="comment.idPost == post.id" class="single-comment">
                        <div class="row ">
                            <div class="col-sm d-flex justify-content-start com-data">
                               by {{comment.by.userName}}
                            </div>

                            <div class="col-sm d-flex justify-content-end com-data">
                                {{comment.creationHour}} - {{comment.creationDate}}
                            </div>
                        </div>
                        <div class="col-sm d-flex justify-content-start com-text">
                            {{comment.commentText}}
                        </div>
                    </div>

                </div>
            </div>
                <br>
                <form [formGroup]='writeComment'>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Write a comment" formControlName="commentText" (keyup.enter)="addCommentToDB(writeComment.value, post.id)"
                        />
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>


<ng-template #template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete this post?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>