@import '~scss/profile';


.d-flex{
    justify-content: space-between;
  }
  .name-wrapper{
    width: 100%;
    padding-top: 2%;
    // position: fixed;
    top: 0;
    overflow: hidden;
    background-color: white;
    z-index: 100;
  }

  .wrapper{
    right: 0px;
    margin: 0px auto;
    padding-top: 2%;
    max-width: 800px;
    position: relative;
  }
  
  .profile-container{
      border: 1px solid rgb(20, 20, 20);
      padding: 1%;
      // margin-bottom: 2%;
  }

.info{
  padding: 7%;
}

.text-description{
  font-size: 14px;
}

.edit-profile-button{
  margin: 2%;
  font-size: 15px;
}