<div class="name-wrapper d-flex justify-content-center">
    <div class="">
        <h3> {{userObject.firstName}} {{userObject.lastName}}</h3>
    </div>
</div>

<div class="wrapper-profile">
    <div class="profile-container row d-flex justify-content-center">
        <div class="thumbnail-me  d-flex justify-content-center ">
            <img [src]="this.url" class=" profile profile-avatar">
        </div>
        <div *ngIf="userObject.bio; else messageInfo" class="info col-sm-6 ">
            <div class="d-flex justify-content-end">
                <b>Something about me</b>
            </div>
            <div class="text-description">
                <div>{{userObject.bio}}</div>

                <div *ngIf="userObject.homeBase" class="">My Home Base: {{userObject.homeBase}} </div>
            </div>
        </div>
        <ng-template #messageInfo>
            <div class="info col-sm-6 ">
                <div class="text-description">
                    Tell us something about you.
                    <div *ngIf="userObject.homeBase" class="">My Home Base: {{userObject.homeBase}} </div>
                </div>
            </div>

        </ng-template>
        <a class="edit-profile-button d-flex justify-content-end align-items-end" routerLink="/home/edit-profile" title="Edit Profile">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </div>

</div>

<!--Scroll to top-->
<div *ngIf="{'show-scroll': navIsFixed}" class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
    <button class="scroll-top-button" (click)="scrollToTop()">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>

<!-- <ks-modal-gallery [id]="11" [modalImages]="imagesMixedSizes"></ks-modal-gallery> -->

<div class="wrapper-post">
    <div class="profile-container ">

        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                Countries
            </div>

            <div class="col-sm d-flex justify-content-center">
                Trips
            </div>
            <div class="col-sm d-flex justify-content-center">
                Following
            </div>
            <div class="col-sm d-flex justify-content-center">
                Followers
            </div>

        </div>

        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                {{nonDublicateCountries.length}}
            </div>
            <div class="col-sm d-flex justify-content-center">
                {{userObject.nrTrips}}
            </div>
            <div class="col-sm d-flex justify-content-center">
                {{userObject.following.length}}
            </div>
            <div class="col-sm d-flex justify-content-center">
                {{userObject.followers.length}}
            </div>

        </div>
    </div>
    <br>

    <div class="profile-container ">
        <a class="btn yellow-button d-flex justify-content-center" (click)="openPostModalWithComponent()">
            MAKE A POST
        </a>
        <div *ngIf="!weHavePosts" class="d-flex justify-content-center"> Here will be my posts!</div>
    </div>

    <br>
    <tabset [justified]="true">
        <!-- Public posts -->
        <tab heading="PUBLIC POSTS">
            <div class="d-flex justify-content-center no-posts" *ngIf="!weHavePublicPosts">There are no public posts</div>
            <div>

                <div *ngFor="let post of allPublicPosts" class="post-container">

                    <div class="container">
                        <!-- Card Flip -->
                        <div class="card-flip">
                            <div class="flip align-front">

                                <div class="front">
                                    <!-- front content -->


                                    <div class="">
                                        <div class="d-flex">
                                            <div class="p-2 like mr-auto">
                                                <i class="fas fa-heart" title="Likes"></i>
                                                {{post.likedByUsers.length}}
                                            </div>
                                            <div class="p-2  ml-auto">
                                                {{ post.creationHour}}
                                            </div>

                                        </div>
                                        <h3 class=" justify-content-center">{{post.postName}}</h3>
                                        <div>By: {{ post.byUser }} </div>
                                        <h6>Trip Name: {{post.tripName}}</h6>
                                        <br>
                                        <div>
                                            <h4 class="align-items-center"> {{ post.creationDate | date: 'dd' }} </h4>
                                            <h4 class="align-items-center"> {{ post.creationDate | date: 'MMM' }} {{ post.creationDate | date: 'y' }}</h4>
                                        </div>
                                        <br>

                                        <div>Location:
                                            <span class="location-displat">
                                                {{post.aboutLocation.city}} - {{post.aboutLocation.countryLong}}
                                            </span>
                                        </div>
                                        <div class="logo-post">
                                            <div class="d-flex justify-content-center">
                                                <img src="assets/images/Circle.png" />
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="back">

                                    <div class="d-flex ">
                                        <a class="p-2 edit-post" title="Edit Post" (click)="openEditModal(post.id)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="p-2 delete-post" title="Delete Post" (click)="openModal(template, post.id, post.aboutLocation.countryShort)">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                    <!-- back content -->
                                    <br>
                                    <div>{{post.postDetails}}</div>
                                    <br>
                                    <!-- <div *ngFor="let photo of post.photos" class="post-photo-display ">
                                                <img [src]="photo" height="100%" alt="slide" class="style-photo">
                                            </div> -->

                                    <section class="d-flex justify-content-center">

                                        <div class="my-app-custom-plain-container-row">
                                            <ng-container *ngFor="let img of post.images; let i = index">
                                                <div *ngIf="i <= 2">
                                                    <!-- 2 is a fixed value that I'm using to display only two images -->
                                                    <a class="more" *ngIf="i==2" (click)="openImageModalRow(img, post.images)"> +{{ post.photos.length - 2 }} more </a>
                                                    <img *ngIf="img.modal && img.modal.img; else noThumb" class="my-app-custom-image-row" [src]="img.modal.img" (click)="openImageModalRow(img, post.images)"
                                                        [alt]="img.modal.description" />

                                                    <ng-template #noThumb>
                                                        <img class="my-app-custom-image-row" [src]="img.modal.img" (click)="openImageModalRow(img, post.images)" [alt]="img.modal.description"
                                                        />
                                                    </ng-template>
                                                </div>
                                            </ng-container>
                                        </div>

                                    </section>

                                    <br>
                                    <div *ngIf="post.privacy === 'private'">
                                        <div>
                                            <b>Your buget:</b> {{post.buget}} EURO</div>
                                        <div>
                                            <b>Other thoughts:</b> {{post.otherToughts}}</div>
                                    </div>

                                    <div>
                                        <div class="comment d-flex justify-content-end">
                                            COMMENTS
                                        </div>
                                        <div class="comm">
                                            <div *ngFor="let comment of allComments">
                                                <div *ngIf="comment.idPost == post.id" class="single-comment">
                                                    <div class="row ">
                                                        <div class="col-sm d-flex justify-content-start com-data">
                                                            by {{comment.by.userName}}
                                                        </div>

                                                        <div class="col-sm d-flex justify-content-end com-data">
                                                            {{comment.creationHour}} - {{comment.creationDate}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm d-flex justify-content-start com-text">
                                                        {{comment.commentText}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                        <form [formGroup]='writeComment'>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Write a comment" formControlName="commentText" (keyup.enter)="addCommentToDB(writeComment.value, post.id)"
                                                />
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </tab>

        <!-- Private posts -->
        <tab heading="PRIVATE POSTS">
            <div *ngIf="!weHavePrivatePosts" class="d-flex justify-content-center no-posts">There are no private posts</div>
            <div>

                <div *ngFor="let post of allPrivatePosts" class="post-container">

                    <div class="container">
                        <!-- Card Flip -->
                        <div class="card-flip">
                            <div class="flip align-front">

                                <div class="front">
                                    <!-- front content -->


                                    <div class="">
                                        <div class="d-flex">
                                            <div class="p-2 like mr-auto">
                                                <i class="fas fa-heart" title="Likes"></i>
                                                {{post.likedByUsers.length}}
                                            </div>
                                            <div class="p-2  ml-auto">
                                                {{ post.creationHour}}
                                            </div>

                                        </div>
                                        <h3 class=" justify-content-center">{{post.postName}}</h3>
                                        <div>By: {{ post.byUser }} </div>
                                        <h6>Trip Name: {{post.tripName}}</h6>
                                        <br>
                                        <div>
                                            <h4 class="align-items-center"> {{ post.creationDate | date: 'dd' }} </h4>
                                            <h4 class="align-items-center"> {{ post.creationDate | date: 'MMM' }} {{ post.creationDate | date: 'y' }}</h4>
                                        </div>
                                        <br>

                                        <div>Location:
                                            <span class="location-displat">
                                                {{post.aboutLocation.city}} - {{post.aboutLocation.countryLong}}
                                            </span>
                                        </div>
                                        <div class="logo-post">
                                            <div class="d-flex justify-content-center">
                                                <img src="assets/images/Circle.png" />
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="back">

                                    <div class="d-flex ">
                                        <a class="p-2 edit-post" title="Edit Post" (click)="openEditModal(post.id)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="p-2 delete-post" title="Delete Post" (click)="openModal(template, post.id, post.aboutLocation.countryShort)">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                    <!-- back content -->
                                    <br>
                                    <div>{{post.postDetails}}</div>
                                    <br>
                                    <!-- <div *ngFor="let photo of post.photos" class="post-photo-display ">
                                                        <img [src]="photo" height="100%" alt="slide" class="style-photo">
                                                    </div> -->

                                    <section class="d-flex justify-content-center">

                                        <div class="my-app-custom-plain-container-row">
                                            <ng-container *ngFor="let img of post.images; let i = index">
                                                <div *ngIf="i <= 2">
                                                    <!-- 2 is a fixed value that I'm using to display only two images -->
                                                    <a class="more" *ngIf="i==2" (click)="openImageModalRow(img, post.images)"> +{{ post.photos.length - 2 }} more </a>
                                                    <img *ngIf="img.modal && img.modal.img; else noThumb" class="my-app-custom-image-row" [src]="img.modal.img" (click)="openImageModalRow(img, post.images)"
                                                        [alt]="img.modal.description" />

                                                    <ng-template #noThumb>
                                                        <img class="my-app-custom-image-row" [src]="img.modal.img" (click)="openImageModalRow(img, post.images)" [alt]="img.modal.description"
                                                        />
                                                    </ng-template>
                                                </div>
                                            </ng-container>
                                        </div>

                                    </section>

                                    <br>
                                    <div *ngIf="post.privacy === 'private'">
                                        <div>
                                            <b>Your buget:</b> {{post.buget}} EURO</div>
                                        <div>
                                            <b>Other thoughts:</b> {{post.otherToughts}}</div>
                                    </div>

                                    <div>
                                        <div class="comment d-flex justify-content-end">
                                            COMMENTS
                                        </div>
                                        <div class="comm">
                                            <div *ngFor="let comment of allComments">
                                                <div *ngIf="comment.idPost == post.id" class="single-comment">
                                                    <div class="row ">
                                                        <div class="col-sm d-flex justify-content-start com-data">
                                                            by {{comment.by.userName}}
                                                        </div>

                                                        <div class="col-sm d-flex justify-content-end com-data">
                                                            {{comment.creationHour}} - {{comment.creationDate}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm d-flex justify-content-start com-text">
                                                        {{comment.commentText}}
                                                    </div>
                                                    
                                                    <div *ngIf="userObject.role === 'user'" class="col-sm d-flex justify-content-end">
                                                        <a *ngIf="this.warningComments.includes(comment.id)" class="p-2 warning-post" title="Warning Comment">
                                                            <i class="fas fa-exclamation"></i>
                                                        </a>
                                                        <a class="p-2 delete-post" title="Delete Comment" (click)="openDeleteComm(deleteCommentModal, comment.id)">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                        <form [formGroup]='writeComment'>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Write a comment" formControlName="commentText" (keyup.enter)="addCommentToDB(writeComment.value, post.id)"
                                                />
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </tab>

    </tabset>

    <ks-modal-gallery [id]="11" [modalImages]="imagesToDisplay" [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>


</div>


<ng-template #template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete this post?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>

<ng-template #deleteCommentModal>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete this comment?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteComment()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>