
$button-color: #0B8457;

.d-flex{
  justify-content: space-between;
}

.wrapper{
  right: 0px;
  margin: 0px auto;
  padding-top: 3%;
  max-width: 500px;
  position: relative;
}

.profile-container{
    border: 1px solid rgb(20, 20, 20);
    padding: 2%;
    margin-bottom: 2%;
}

label{
   font-weight: bold;
}
a{
  color:white!important;
}
.update-button{
  background-color: $button-color ;
}

.save-picture-button{
  background-color: $button-color ;
  width:auto;
  margin-top: 2%;
}

i{
  font-size: large;
}

.btn-arrows{
  background-color: white;
  margin-top: 8px;
}


.thumbnail {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-top: 5%;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


.image-upload > input
{
    display: none;
}

.image-upload img
{
    cursor: pointer;
}