<div class="wrapper">
    <div class="profile-container">
        <h3>My account</h3>
        <h6>Edit your personal information</h6>
    </div>
    <br>
    <div *ngIf="showPictureProfile">
        <div class="profile-container">
            <h6>Edit your profile picture</h6>
            <div class="image-upload">
                <label for="file-input">
                    <div class="thumbnail d-flex align-items-center justify-content-center">
                        <img [src]="url" class=" profile profile-avatar" title="Change Picture">
                    </div>
                </label>
                <input id="file-input" type="file" (change)="onSelectFile($event)" />
            </div>
            <div>
                <a class="btn save-picture-button" (click)="saveUserProfilePicture()">Save Picture</a>
            </div>
            <div *ngIf="updateMessageDisplay">ceasdasd{{updateMessageDisplayed}}</div>
            <div class="d-flex align-items-end justify-content-end">
                <button class="btn btn-arrows " (click)="toInfoProfile()">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>

    </div>

    <div *ngIf="showProfileInfo">
        <div class="profile-container">
            <h6>Edit your profile information:</h6>
            <br>
            <form [formGroup]='userForm'>
                <label>First Name</label>
                <div>
                    <input type="text" class="form-control" placeholder="" formControlName="firstName" />
                </div>
                <br>

                <label>Last Name</label>
                <div>
                    <input type="text" class="form-control" placeholder="" formControlName="lastName" />
                </div>
                <br>

                <label>Bio - Short for “Biography”. Tell something about yourself.</label>
                <div>
                    <textarea  type="text" rows = "5" class="form-control" placeholder="" formControlName="bio" ></textarea>
                </div>
                <br>

                <label>Home Base - Where you are currently living.(e.g. “Goa, India”)</label>
                <!-- <div>
                    <input type="text" class="form-control" placeholder="Enter a location" formControlName="homeBase" />
                </div> -->
                <div class="form-group">
                    <input placeholder="Enter a location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                        #search formControlName="homeBase">
                </div>
                <br>
                <div>
                    <a class="btn update-button" style="width:100%;" (click)="saveUserData(userForm.value)">Save</a>
                </div>
            </form>
           
            <div class="d-flex ">
                <div class="justify-content-start">
                    <button class="btn btn-arrows" (click)="backPictureProfile()">
                        <i class="fas fa-angle-left"></i>
                    </button>
                </div>
                <div class="justify-content-end pull-right">
                    <button class="btn btn-arrows" (click)="toChangePass()">
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="showChangePass">
        <div class="profile-container">
            <h6>Change you password. Please make sure to confirm your email before continuing.</h6>
            <form [formGroup]='changePassForm'>
                <div class="alert alert-error" *ngIf="changePassForm.controls['newEmail'].hasError('pattern')">Invalid email address</div>
                <div class="alert alert-success" *ngIf="messageDisplay">{{messageDisplayed}}</div>
                <label>Email</label>
                <div>
                    <input type="text" class="form-control" placeholder="" formControlName="newEmail" />
                </div>
                <br>

                <div>
                    <a class="btn update-button" style="width:100%;" [ngClass]="changePassForm.status=='INVALID'?'disabled':null" (click)="updatePassword(changePassForm.value)">Send email</a>
                </div>
            </form>
            <div class="d-flex ">
                <div class="justify-content-start">
                    <button class="btn btn-arrows" (click)="backProfileInfo()">
                        <i class="fas fa-angle-left"></i>
                    </button>
                </div>
                <!-- <div class="justify-content-end pull-right">
                    <button class="btn btn-arrows" (click)="toChangeEmail()">
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div> -->
            </div>
        </div>

    </div>

    <!-- <div *ngIf="showChangeEmail">
        <div class="profile-container">
            <h6>Change your email here. Please make sure to confirm your email before continuing.</h6>
            <form [formGroup]='changeEmailForm'>
                <div class="alert alert-error" *ngIf="changeEmailForm.controls['newEmail'].hasError('pattern')">Invalid email address</div>
                <label>New email</label>
                <div>
                    <input type="text" class="form-control" placeholder="" formControlName="newEmail" />
                </div>
                <br>

                <div>
                    <a class="btn update-button" style="width:100%;" [ngClass]="changeEmailForm.status=='INVALID'?'disabled':null" (click)="changeEmail(changeEmailForm.value)">Change email</a>
                </div>
            </form>
            <div class="d-flex align-items-end justify-content-start p-2">
                <button class="btn btn-arrows" (click)="backChangePass()">
                    <i class="fas fa-angle-left"></i>
                </button>
            </div>
        </div>

    </div> -->
</div>