%shared-wrapper{
    right: 0px;
    margin: 0px auto;
    padding-top: 2%;
    position: relative;
}
  
  .d-flex{
      justify-content: space-between;
    }
  .name-wrapper{
      width: 100%;
      padding-top: 2%;
      // position: fixed;
      top: 0;
      overflow: hidden;
      background-color: white;
      z-index: 100;
  }
  
  .wrapper-profile{
    @extend %shared-wrapper;
      max-width: 800px;
  }
  
  .wrapper-post{
    @extend %shared-wrapper;
      max-width: 650px;
  }
    
    .profile-container{
        border: 1px solid rgb(20, 20, 20);
        padding: 1%;
        // margin-bottom: 2%;
    }
  
  .post-container{
    border: 1px solid rgb(20, 20, 20);
    padding: 2%;
    margin-bottom: 2%;
    background-color: #FBFFFE;
  }


  
.like-post{
  color: pink!important;
  border: solid 1px white;
}

.like-post:hover{
  cursor: pointer;
}

.comment{
  margin-top: 2%;
  margin-bottom: 2%;
  color: black;
}

.single-comment{
  // max-width: 97%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 15px 5px 10px 5px;

}

.com-text{
  font-size: 16px;
}

.com-data{
  color: #919191;
}

.comm{
  max-height: 400px;
  overflow: auto;
  overflow-x:hidden
}