.thumbnail {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-top: 5%;
  }
  
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  

  .thumbnail-me {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    // margin-top: 5%;
  }

  .thumbnail-me img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }