.info{
    padding: 7%;
  }
  
  .text-description{
    font-size: 14px;
  }
  
  .edit-profile-button{
    margin: 2%;
    font-size: 15px;
  }
  
  .modal-style{
    border-radius: 0px !important; 
  }
  
  .yellow-button{
    color: #febd4a!important;
    margin-bottom: 0px!important;
  }
  
  
  .post-photo-display{
    display: inline-block!important;
    margin: 10px;
  }
  
  .style-photo{
    height: 150px;
    width: 150px;
  }