<div class="modal-header">
    <div>
        <h4 class="modal-title colored-header">New post</h4>
    </div>

    <button type="button" class="close  pull-right" aria-label="Close" (click)="postModal.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <!-- Create trip -->
    <div *ngIf="showNewTrip">
        <div>
            <h2>New trip</h2>
            <h6>Name your trip: </h6>
        </div>
        <div class="alert alert-warning alert-morning-modified" *ngIf="tripMessageDisplay">{{tripMessageDisplayed}}</div>
        <div class="alert alert-danger alert-morning-modified" *ngIf="errorTripMessageDisplay">{{tripMessageDisplayed}}</div>
        
        <form [formGroup]='tripForm'>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="* My trip to England, Hiking Trails, Scoutish ..." formControlName="tripName"
                />
            </div>

            <div class="form-group">
                <textarea type="text" rows="2" class="form-control" placeholder="Write something about your trip (optional)" formControlName="tripDetails"></textarea>
            </div>
        </form>
    </div>

    <!-- 
    <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search   size="100">
    </div> -->

    <!-- Create post -->
    <div *ngIf="showNewPost" class="animated fadeInRight">
        <div class="alert alert-warning alert-morning-modified" *ngIf="postMessageDisplay">{{postMessageDisplayed}}</div>
        <div class="alert alert-danger alert-morning-modified" *ngIf="errorPostMessageDisplay">{{postMessageDisplayed}}</div>
        
        <div class="d-flex justify-content-end choose">
            <div class="btn-group" dropdown>
                <a dropdownToggle class="btn btn-default mr-auto p-2 dropdown-toggle">
                   * Related trip:
                    <b>{{this.selectedTrip.name}}</b>
                    <span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let choice of relatedTrips" (click)="chooseATrip(choice)">
                        <a class="dropdown-item">{{choice.name}}</a>
                    </li>
                </ul>
            </div>

            <a class="ml-auto p-2 plus choose" (click)="newTrip()">
                <i class="fas fa-plus"></i> New trip
            </a>
        </div>

        <div>
            Location:
        </div>
        <agm-map [latitude]="lat" [longitude]="lng" style="height: 260px;" (mapClick)="onChoseLocation($event)">
            <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationChosen">
            </agm-marker>
        </agm-map>

        <div class="about-post">
            <form [formGroup]='postForm'>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your location" formControlName="location" />
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your City" formControlName="city" />
                    </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="* Name your post" formControlName="postName" />
                </div>

                <div class="form-group">
                    <textarea type="text" rows="4" class="form-control" placeholder="* What's going on here?" formControlName="postDetails"></textarea>
                </div>

                <div *ngIf="isPrivatePrivacy">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buget" formControlName="buget" />
                    </div>
                    <div class="form-group">
                        <textarea type="text" rows="2" class="form-control" placeholder="Other thoughts" formControlName="otherToughts"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div *ngFor="let itemUrl of urlArray ; let i = index">
            <div class="container">
                <i class="far fa-times-circle deletePicture" (click)="removePhoto(i)" title="Delete"></i>
                <div class="thumbnail d-flex align-items-center justify-content-center arrayOfImage">
                    <img [src]=itemUrl class="photo">
                </div>
            </div>

        </div>
        <input id="file-input" class="inputPhotos" type="file" (change)="onSelectFile($event)" />
        <div class="d-flex justify-content-start about-post row">
            <label for="file-input">
                <a class="p-2 choose">
                    <i class="fas fa-plus"></i> Add photos (max. 4)
                </a>
            </label>
            <!-- <div class="btn-group" dropdown [dropup]="true">
                <a dropdownToggle class="p-2 choose dropdown-toggle">
                    <i class="fas fa-unlock-alt"></i> Privacy
                    <span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item">Public</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Private</a>
                    </li>
                </ul>
            </div> -->

            <!-- <i class="fas fa-unlock-alt"></i> Privacy -->
            <select class="selectpicker show-tick p-2 choose col-md-4" #selectElem (change)="setPrivacy(selectElem.value)">
                <option selected>Privacy</option>
                <option value="public"> PUBLIC </option>
                <option value="private"> PRIVATE </option>
            </select>


        </div>
    </div>

</div>
<div class="modal-footer">
    <div *ngIf="showNewTrip">
        <button type="button" class="btn btn-default" (click)="postModal.hide()">Close</button>
        <button type="button" class="btn btn-default create-button"  [ngClass]="tripForm.status=='INVALID'?'disabled':null" (click)="createTrip()">Create</button>
    </div>

    <div *ngIf="showNewPost">
        <button type="button" class="btn btn-default create-button" (click)="createPost()">Post</button>
    </div>
</div>