@import '~scss/profile';
@import '~scss/spinner';

$button-color: #0B8457;
$primary-color: #AB535A;
$second-color:  rgb(44, 39, 40);

.colored-header{
    color: $primary-color;
}

.create-button{
    background-color: $button-color;
    color: white;
}

.choose{
    color: $second-color;
}

.choose:hover{
   cursor: pointer;
}

.about-post{
    margin-top: 5%;
}

.photo{
    height: 100px;
    width: 100px;
}

.thumbnail {
    width: 100px;
    height: 100px;
}

.inputPhotos
{
    display: none;
}

.arrayOfImage{
    display: inline;
}

.deletePicture{
    color: #ff3d4f;
    position: absolute;
    top: -7px;
    // left: -7px;
    font-size: 20px;
    z-index: 200;
   
}

.deletePicture:hover{
    cursor: pointer;
}

.container {
    position: relative;
}

.nr-photo{
   display: none!important;
}

.selectpicker{
    right: 9px;
}